.address-label {
	text-align: center;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 600;
	font-size: 48px;
	color: #1e1e1e;
	width: 100vw;



	/* line-height: 150%; */
	/* identical to box height, or 72px */

	/* letter-spacing: -0.022em; */
	overflow: hidden;

	
}

.address-label-p {
	text-align: center;
	
}

.address-input {
	position: relative;
	width: 448px;
	height: 96px;
	border-radius: 18px;
	background: #dbdbdb;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	/* margin-left: 100px; */
	/* margin-right: 100px; */
	overflow: hidden;
	font-size: large;
		width: 100vw;

	
}

/* .submit-button {
	font-size: xx-large;
	position: relative;
	width: 338px;
	height: 103px;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: #f8cd51;
	border-radius: 60px;
} */
.submit-button {
	font-size: xx-large;
	position: relative;
	width: 338px;
	height: 103px;
	/* top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%); */

	background: #f8cd51;
	border-radius: 60px;
	margin-bottom: 10px;
	
}

.address-spacer-30 {
	height: 30px;
}





.address-content {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	margin-bottom: 0px;
}


.see{
	position: relative;
	margin-top: 50px;
	font-size: x-large;
}