.form-content{
    margin-left: 100px;
    margin-right: 100px;
}


/* .form-button {
    font-size: xx-large;
	position: relative;
	width: 338px;
	height: 103px;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	background: #f8cd51;
	border-radius: 60px;
} */


.form-button {
	font-size: x-large;
	position: relative;
	width: 150px;
	height: 60px;
    
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);

	background: #f8cd51;
	border-radius: 60px;
	margin-bottom: 10px;
}

.spacer-30{
    height: 30px;
}

 /* input[type='text']{
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.25rem;
    border: 1px solid #b8b8b8;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  } */