.table-page-container {
	text-align: center;
}
.table-itself {
}

.tg {
    width:80%;
	background-color: #f8cd51;
	border-collapse: collapse;
	border-spacing: 0;
	margin-left: auto;
	margin-right: auto;
}
.tg td {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}
.tg th {
	border-color: black;
	border-style: solid;
	border-width: 1px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: normal;
	overflow: hidden;
	padding: 10px 5px;
	word-break: normal;
}
.tg .tg-0pky {
	border-color: inherit;
	text-align: left;
	vertical-align: top;
}


.FcApproval{
    size: 200px;
}